{% extends 'base2.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
<div class="login-page">
    <div class="form">
        <img src="{{ asset('front/mainfront/img/Meddoclogo.png')}}" alt="" style="width: 280px">
    <p>
        Si un compte correspondant à votre adresse e-mail existe, un e-mail contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe vient d'être envoyé.
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">Réessayez</a>.</p>
    </div>
</div>
{% endblock %}
